.classForm-container {
  padding: 20px;
}

.classForm-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.classForm-form input , select {
  margin-left: 5px;
}

.classForm-form button {
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 7px;
  text-transform: uppercase;
  transition: 0.2s;
}

.classForm-form button:hover {
  background: #5c5696;
  color: white;
}
