.table-container table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
}

.table-container thead th {
  background: #4c489d;
  color: #d4d3e8;
  font-size: 13px;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
}

.table-container tr td {
  color: #5d54a4;
  padding: 10px;
}

.table-container td button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: orange;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
}

.table-container td button:first-child {
  color: red;
}

.table-container td button:hover {
  transform: scale(1.1);
}

.table-buttons {
  display: inline-flex;
  justify-content: space-between;
}

.table-container tbody tr:nth-child( even ) {
  background-color: #d4d3e8;
}
